---
import Layout from '../layouts/Layout.astro'
import VectorYellow from '/assets/vector-yellow.svg'
import CcebaImg from '/assets/img/cceba.jpeg'
import FuturaImg from '/assets/img/futura.jpeg'
import QuinchoImg from '/assets/img/red-quincho.jpeg'
import WilliamImg from '/assets/img/fundacion-williams.jpeg'
import EcoUrbanoImg from '/assets/img/eco-urbano.png'
import LaTribuImg from '/assets/img/la-tribu.jpeg'
import SecretariaCulturaImg from '/assets/img/secretaria-cultura-entre-rios.jpeg'
import DiputadosImg from '/assets/img/diputados-entre-rios.jpeg'
---

<Layout title="Indicadores Culturales - ¿Quiénes somos?">
  <div class="max-w-5xl p-3 m-auto relative">
    <img id="background" src={VectorYellow} class="absolute top-48 w-64 md:w-1/3 left-0 m-auto right-0 -z-10" alt="">
      <h1 class="text-3xl md:text-5xl font-semibold mt-16 mb-2 text-center">NOSOTRXS</h1>
      <h2 class="text-xl md:text-4xl font-extrabold mb-10 text-center">¿CÓMO NACIÓ EL PROYECTO?</h2>
      <p class="my-2">Con el propósito de reflexionar y generar indicadores culturales que den cuenta del impacto del trabajo de los proyectos culturales independientes, para así visibilizar sus diferentes aportes a la comunidad y otros ámbitos, las residencias de arte El Potrero (Entre Ríos), LPEP (La Paternal Espacio Proyecto, Ciudad de Buenos Aires y Entre Ríos) y URRA (Buenos Aires), llevamos a cabo una residencia a modo de laboratorio de innovación sociocultural, de nombre LIC (Laboratorio de Indicadores Culturales), en Paraná, Entre Ríos, durante diciembre 2022.</p>
      <p class="my-2">A partir de una convocatoria regional e invitados de diferentes partes del país reunimos a artistas, educadores y sociólogos para producir juntxs un primer protocolo para ser implementado inicialmente dentro de la Red Quincho de residencias de arte.</p>
      <p class="mt-6"><span class="font-bold">El Potrero: Marcela Andino -</span><a href="https://www.instagram.com/residencia_potrero/" class="font-bold p-1 rounded hover:bg-black hover:text-white">@residencia_potrero</a> _ marceandino1@gmail.com</p>
      <p class="my-2"><span class="font-bold">LPEP: Francisco Paredes -</span><a href="https://www.instagram.com/lapaternalespacioproyecto/" class="font-bold p-1 rounded hover:bg-black hover:text-white">@francparedes</a> _ lapaternaltalleres@gmail.com</p>
      <p class="my-2"><span class="font-bold">URRA: Melina Berkenwald -</span><a href="https://www.instagram.com/proyectourra/" class="font-bold p-1 rounded hover:bg-black hover:text-white">@proyectourra</a>_ urra.direccion@gmail.com</p>

      <p class="my-2">Más información de la residencia LIC. <a href='https://drive.google.com/file/d/1APn5Es01X6krR0Bwkbf3zTO5f_H90PDi/view' class="font-bold uppercase p-1 rounded hover:bg-black hover:text-white">Click aquí</a></p>

      <h1 id="manifiesto" class="text-3xl md:text-5xl font-semibold mt-32 mb-2 text-center">DECLARACIÓN DE PRINCIPIOS</h1>
      <h2 class="text-xl md:text-4xl font-extrabold mb-10 text-center">PARA LA GESTIÓN CULTURAL</h2>
      <p class="my-2">Re-definir los modos de hacer implica abrir espacios constructivos que habilitarían el tránsito entre lo agenciado tradicionalmente desde sus tareas específicas y lo que acontece, sucede, intuitivamente, azarosamente. Sucede el manifiesto de lo sensible.</p>
      <p class="my-2">Leer lo “manifiesto” a partir de los vínculos que dichos encuentros establecen en territorio, nos permite determinar indicadores que la gestión cultural expande, desde prácticas artísticas que traducen las nuevas formas de habitar.</p>
      <p class="my-2">Consideramos oportuno proponer el ejercicio de agremiar miradas transdisciplinares que  re-definan a la gestión cultural, desde el impacto que sus variables conforman, poniendo en valor el total de sus capacidades a la hora de acompañar y desarrollar residencias, en clave socio-comunitaria, situada, territorial.</p>
      <p class="my-2">Si se determinan indicadores culturales basados en categorías orientadas a una constelación residencia-contexto-experiencia, es posible generar un espacio que retome la gestión cultural desde su capacidad empática, en pos de potenciar el desarrollo de prácticas situadas que iluminen otros escenarios comprometidos con un buen vivir.</p>

      <h1 id="buenas-practicas" class="text-3xl md:text-5xl font-semibold mt-20 mb-2 text-center">BUENAS PRÁCTICAS</h1>
      <h2 class="text-xl md:text-4xl font-extrabold mb-10 text-center">DE UNA RESIDENCIA ARTÍSTICA</h2>
      <div class="text-left mb-12">
        <p class="my-2">El origen de lo que consideramos buenas prácticas dentro de las residencias artísticas nace de la recopilación de los aportes de cada uno de lxs directorxs pertenecientes a la <span class="font-bold">RED QUINCHO</span>. Este es un documento en proceso que se va nutriendo a partir de la integración de las perspectivas de diferentes gestorxs culturalxs.</p>
        <!-- <p class="my-2 mt-8 text-xl uppercase font-bold">Buenas prácticas de las residencias</p> -->

        <div class="grid divide-y divide-black mx-auto mt-8 rounded-lg">
          <div class="py-5">
            <details class="group">
              <summary class="flex justify-between items-center font-medium cursor-pointer list-none group-open:true">
                <span class="font-bold uppercase">1- En relación a los residentes que recibe</span>
                <span class="transition group-open:rotate-180">
                  <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
                  </svg>
                </span>
              </summary>
              <p class="mt-3 group-open:animate-fadeIn">- Acompañamiento a la producción / facilitación de procesos creativos</p>
              <p class="mt-3 group-open:animate-fadeIn">- Diseño de actividades que articulen con la comunidad artística y local</p>
              <p class="mt-3 group-open:animate-fadeIn">- Socialización de los resultados / producciones de la residencia</p>
              <p class="mt-3 group-open:animate-fadeIn">- Promover el sostenimiento del vínculo post-residencia</p>
            </details>
          </div>

          <div class="py-5">
            <details class="group">
              <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
                <span class="font-bold uppercase">2- En relación con el equipo de trabajo</span>
                <span class="transition group-open:rotate-180">
                  <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
                  </svg>
                </span>
              </summary>
              <p class="mt-3 group-open:animate-fadeIn">- Sistematización</p>
              <p class="mt-3 group-open:animate-fadeIn">- Organización de roles</p>
              <p class="mt-3 group-open:animate-fadeIn">- Trabajo en equipo</p>
              <p class="mt-3 group-open:animate-fadeIn">- Apertura al diálogo</p>
              <p class="mt-3 group-open:animate-fadeIn">- Reuniones abiertas</p>
              <p class="mt-3 group-open:animate-fadeIn">- Empatía y predisposición</p>
              <p class="mt-3 group-open:animate-fadeIn">- Flexibilidad para resolver situaciones de gestión</p>
              <p class="mt-3 group-open:animate-fadeIn">- Claridad en el diseño de proyectos</p>
              <p class="mt-3 group-open:animate-fadeIn">- Registro y clasificación de actividades</p>
              <p class="mt-3 group-open:animate-fadeIn">- Honorarios para los actores involucrados</p>
            </details>
          </div>

          <div class="py-5">
            <details class="group">
              <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
                <span class="font-bold uppercase">3- En relación a otras residencias</span>
                <span class="transition group-open:rotate-180">
                  <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"     viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
                  </svg>
                </span>
              </summary>
              <p class="mt-3 group-open:animate-fadeIn">- Articulación y diseño colaborativo entre pares</p>
              <p class="mt-3 group-open:animate-fadeIn">- Intercambio de experiencias</p>
              <p class="mt-3 group-open:animate-fadeIn">- Feedback positivo y negativo</p>
              <p class="mt-3 group-open:animate-fadeIn">- Referir artistas en base a perfiles específicos</p>
              <p class="mt-3 group-open:animate-fadeIn">- Asistencia a eventos organizados desde otras residencias</p>
            </details>
          </div>

          <div class="py-5">
            <details class="group">
              <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
                <span class="font-bold uppercase">4- En relación a la comunidad</span>
                <span class="transition group-open:rotate-180">
                  <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
                  </svg>
                </span>
              </summary>
              <p class="mt-3 group-open:animate-fadeIn">- Promoción de charlas abiertas con artistas, curadores y/o equipo</p>
              <p class="mt-3 group-open:animate-fadeIn">- Desarrollo de talleres abiertos a la comunidad</p>
              <p class="mt-3 group-open:animate-fadeIn">- Trabajo con temáticas locales y puesta en valor de las prácticas comunitarias</p>
              <p class="mt-3 group-open:animate-fadeIn">- Apertura a nuevos públicos priorizando niñez y juventud</p>
              <p class="mt-3 group-open:animate-fadeIn">- Promover prácticas de cuidado del ambiente</p>
            </details>
          </div>
        </div>

        <h1 id="alianzas" class="text-3xl md:text-5xl font-semibold mt-16 mb-8 text-center">ALIANZAS</h1>
        <p class="my-2">Este proyecto se desarrolló en 2022, en el marco del Programa “FUTURA, herramientas para una cultura en movimiento”, organizado por el CCEBA; Centro Cultural de España en Buenos Aires, AECID - Agencia Española de Cooperación Internacional para el Desarrollo, con el apoyo de la Fundación Williams. LIC se realizó con la colaboración de la Secretaría de Cultura de la Provincia de Entre Ríos, UADER, Fundación Eco Urbano, La Tribu y el territorio, y la Red Quincho de Residencias de Arte de Argentina.</p>
        <div class="p-24">
          <img src={CcebaImg} alt="">
          <div class="grid grid-cols-3 gap-8 items-center mt-8">
            <img src={FuturaImg} alt="">
            <img src={WilliamImg} alt="">
            <img src={QuinchoImg} alt="">
          </div>
          <div class="grid grid-cols-4 gap-8 items-center mt-8">
            <img class="w-2/3 m-auto" src={EcoUrbanoImg} alt="">
            <img src={LaTribuImg} alt="">
            <img src={SecretariaCulturaImg} alt="">
            <img class="w-2/3 m-auto" src={DiputadosImg} alt="">
          </div>
      </div>

    </div>
  </div>
</Layout>