---
import Logo from '/assets/logo.svg';
import { URL_LINKS, SHOW_RESULTS } from '../utility/constants';
---

<nav class="">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4 text-black z-10">
    <a href={URL_LINKS.home} class="flex items-center p-1 hover:rounded-md hover:underline">
      <img src={Logo} class="w-7 mr-3" alt="" />
      <span class="self-center text-xs md:text-base font-semibold whitespace-nowrap">LIC - Laboratorio de Indicadores Culturales</span>
    </a>
    <button
      data-collapse-toggle="navbar-dropdown"
      type="button"
      class="inline-flex items-center w-10 h-10 justify-center text-sm text-black rounded-lg md:hidden hover:underline"
      aria-controls="navbar-dropdown"
      aria-expanded="false">
      <span class="sr-only">Desplegar menú</span>
      <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
      </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto bg-white md:bg-transparent z-20 p-3 md:p-0 rounded-lg md:rounded-none shadow md:shadow-none" id="navbar-dropdown">
      <ul class="flex flex-col font-medium text-xl md:text-base md:p-0 rounded-lg md:flex-row md:space-x-8 md:mt-0">
        <li>
          <a class="my-2 rounded-md hover:underline font-semibold" href={URL_LINKS.home}>Indicadores Culturales</a>
        </li>
        <li>
          <a class="rounded-md hover:underline font-semibold" href={URL_LINKS.instruccionesDeUso}>Instrucciones de uso</a>
        </li>
        <li>
          <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar"
            class="flex items-center justify-between text-black font-semibold md:p-0 md:w-auto hover:underline">
            Encuestas
          </button>
            <!-- Dropdown menu -->
          <div id="dropdownNavbar" class="z-10 hidden font-normal bg-white divide-y rounded shadow">
            <ul class="text-xl md:text-base">
              <li>
                <a href={URL_LINKS.encuestas.residencias} class="block p-3 text-black font-semibold rounded-md hover:underline">Proyecto Cultural / Residencia</a>
              </li>
              <li>
                <a href={URL_LINKS.encuestas.residentes} class="block p-3 text-black font-semibold rounded-md hover:underline">Participantes / Residentes</a>
              </li>
            </ul>
          </div>
        </li>
          <li>
            <button id="dropdownNavbarLink" data-dropdown-toggle="resultados"
              class="flex items-center justify-between text-black font-semibold md:p-0 md:w-auto hover:underline">
              Resultados
            </button>
            <!-- Dropdown menu -->
          <div id="resultados" class="z-10 hidden font-normal bg-white rounded shadow">
            <ul class="text-xl md:text-base">
              <li>
                <a href={URL_LINKS.results.residencias} class="block p-3 text-black font-semibold rounded-md hover:underline">Proyectos Culturales / Residencias - 2023</a>
              </li>
              <!-- <li>
                <a href={URL_LINKS.results.residentes} class="block p-3 text-black font-semibold rounded-md hover:underline">Participantes / Residentes - 2023</a>
              </li> -->
            </ul>
          </div>
          </li>
        <li>
          <button id="dropdownNavbarLink" data-dropdown-toggle="quienes-somos"
            class="flex items-center justify-between text-black font-semibold md:p-0 md:w-auto hover:underline">
            ¿Quiénes somos?
          </button>
            <!-- Dropdown menu -->
          <div id="quienes-somos" class="z-10 hidden font-normal bg-white rounded shadow">
            <ul class="text-xl md:text-base">
              <li>
                <a href={URL_LINKS.quienesSomos} class="block p-3 text-black font-semibold rounded-md hover:underline">Nosotrxs</a>
              </li>
              <li>
                <a href={URL_LINKS.manifiesto} class="block p-3 text-black font-semibold rounded-md hover:underline">Manifiesto</a>
              </li>
              <li>
                <a href={URL_LINKS.buenasPracticas} class="block p-3 text-black font-semibold rounded-md hover:underline">Buenas prácticas</a>
              </li>
              <li>
                <a href={URL_LINKS.alianzas} class="block p-3 text-black font-semibold rounded-md hover:underline">Alianzas</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
